{% extends "index.html" %}

{% block content %}
<h1>Days gone</h1>
<p>Days Gone is a 2019 action-adventure video game developed by Bend Studio and published by Sony Interactive
    Entertainment
    for the PlayStation 4. A Windows port was released in May 2021.

    The game is set in post-apocalyptic Oregon two years after the start of a pandemic that turned a portion of humanity
    into vicious zombie-like creatures. Former outlaw-turned-drifter Deacon St. John discovers his wife Sarah, having
    been
    assumed dead, may still be alive and goes on a quest to find her. Days Gone is played from a third-person
    perspective in
    which the player can explore an open world environment. Players can use firearms, melee weapons, and improvised
    weapons,
    and can use stealth to defend themselves against hostile humans and cannibalistic creatures known as Freakers. A
    major
    game mechanic is Deacon's motorcycle, which is used as the player character's main mode of transportation.

    Days Gone was Bend Studio's first open-world project, its first original property since Syphon Filter (1999), and
    its
    first development project for home consoles after spending decades working on spinoff games for handheld consoles.
    The
    game's development took approximately six years; Bend Studio expanded nearly three-fold to support it. Major sources
    of
    inspiration for Days Gone were World War Z, The Walking Dead and Sons of Anarchy. The game was unveiled at E3 2016;
    its
    release was originally planned for 2018 but was delayed several times.

    Upon release, it received mixed reviews from critics, who criticized the story, mission design, and technical issues
    but
    praised the graphics, artificial intelligence, and Sam Witwer's performance as Deacon. Days Gone was a commercial
    success; it sold more copies than all of Bend Studio's previous games combined and became the 19th-best-selling game
    of
    2019 in the US. In 2021, it was reported that the development team had unsuccessfully pitched a sequel to Sony.</p>

<div class="PictureDiv">
    <img src="{{url_for('static', filename=Picture)}}" alt="">
</div>
<h2>Gameplay</h2>
<p>Days Gone is a third-person action-adventure game set in a post-apocalyptic open world. The player controls Deacon
    St.
    John, an outlaw-turned-drifter-bounty-hunter who prefers life on the road to wilderness encampments. The game takes
    place two years after a pandemic killed almost all of humanity and transformed millions of others into "Freakers",
    mindless, zombie-like creatures that evolve quickly. Swarmers, a nocturnal type of Freaker, hide in their nests
    during
    daytime but often congregate, wander around, and search for food and water at night. Players can lure Swarmers
    toward
    other enemies, causing the two groups to fight one another. Other enemies include Newts, who are infected
    adolescents
    and opportunistic hunters who only attack Deacon when he enters their territory or has poor health. The game
    includes
    infected wildlife (called Runners and Ragers) and hostile human enemies.[2] Players can be overwhelmed by hordes and
    must keep their distance. Deacon can use firearms, melee weapons, traps, explosives and choke points to kill
    Freakers.

    The game is set in an open world in the Pacific Northwest. Players can freely explore the world on foot or using a
    motorcycle. The bike consumes fuel and becomes disabled if excessively damaged. Players must regularly refuel the
    bike
    at gas stations and camps, and repair it using collected scraps. Deacon must establish trust with settlement camps
    and earn "camp credits" by completing missions, and by completing bounties and selling food. As the level of trust
    increases, players can purchase new weapons, supplies and motorcycle parts that can be used to enhance its speed,
    durability and maneuverability. The bike's appearance can be customized.

    As players explore the world, they must collect valuable resources and components for crafting weapons and supplies.
    In addition to the main quests, the game has a number of side objectives, which include clearing Freaker nests,
    rescuing
    hostages, clearing enemy camps, capturing bounty targets, and restoring power to National Emergency Response
    Organization (NERO) checkpoints. Inside NERO checkpoints, players can use NERO injectors to boost Deacon's
    health; stamina, used when Deacon is sprinting or dodging; and focus, which allows Deacon to temporarily slow down
    time
    while aiming his ranged weapons. Fast travel consumes fuel and causes time to pass. Before players can fast travel,
    they must destroy all Freaker nests between the two fast travel points. As players complete missions and objectives,
    they gain experience points (XP). With sufficient XP, players can level up and unlock new abilities, allowing them
    to increase the efficiency of Deacon's melee weapons and ranged weapons, and to enhance his survival skills.

    Players can complete objectives in multiple ways, such as by using stealth tactics to distract enemies or silently
    kill
    them from behind using a combat knife. Noise suppressors can be attached to various firearms to prevent attracting
    nearby enemies. Deacon can use "survival vision", which, once activated, highlights items of interest and the
    locations of nearby enemies. Players can use Deacon's binoculars to locate enemies. Alternatively, players have
    access to a wide variety of firearms such as pistols, shotguns, sniper rifles, submachine guns and crossbows.
    Different
    weapons have different statistics and higher-tier weapons are generally more powerful. Purchased weapons can be
    stored
    in a gun locker, though weapons that are picked up in the field cannot be put into storage. Players can use
    explosives such as proximity mines and grenades, and may craft molotov cocktails to defeat enemies. Melee weapons
    can be
    used but they will break if not repaired regularly.</p>

{% endblock %}