{% extends "index.html" %}

{% block content %}
<h1>Red dead redemption</h1>
<p>Red Dead Redemption 2 is een action-adventurespel ontwikkeld door Rockstar Studios. Het spel wordt uitgegeven door
    Rockstar Games en kwam op 26 oktober 2018 uit voor PlayStation 4 en Xbox One. Ruim een jaar later, op 5 november
    2019, kwam het spel ook beschikbaar voor Microsoft Windows. Het spel speelt zich 12 jaar voor de gebeurtenissen van
    Red
    Dead Redemption af, dat in 2010 uitkwam.

    Het spel werd op 18 oktober 2016 aangekondigd; de eerste trailer werd twee dagen later vrijgegeven. In de trailer
    werd herfst 2017 als releasedatum gegeven. Op 22 mei 2017 maakte Rockstar Games bekend dat het spel uitgesteld zou
    worden naar de herfst van 2018.</p>

<div class="PictureDiv">
    <img src="{{url_for('static', filename=Picture)}}" alt="">
</div>

<h2>Verhaal</h2>
<p>Na een mislukte overval op een veerboot in 1899, wordt de Van der Linde-bende gedwongen hun aanzienlijke geldvoorraad
    achter te laten en Blackwater te ontvluchten. De bende realiseert zich dat de vooruitgang van de beschaving stilaan
    een
    einde maakt aan het tijdperk van de outlaws, waarop ze besluiten om genoeg geld te verdienen om zo aan de wet te
    kunnen
    ontsnappen en een rustig leven te kunnen leiden. Ze beroven een trein die eigendom is van de rijke industrieel
    Leviticus
    Cornwall, die als reactie het Pinkerton National Detective Agency inhuurt om de bende te arresteren. Arthur en de
    bende
    voeren talloze klussen en overvallen uit in en rond het stadje Valentine, en Dutch belooft voortdurend dat de
    volgende
    overval hun laatste zal zijn. Arthur stoort zich meer en meer aan de roekeloosheid en geweldlust van bendelid Micah.

    Cornwall neemt wraak voor de treinoverval, die zijn hoogtepunt bereikt tijdens een dodelijke schietpartij in het
    centrum
    van Valentine. De bende verhuist naar Lemoyne, waar ze kennis maken met de families Gray en Braithwaite. Dutch
    probeert
    de rivaliserende families nog meer tegen elkaar op te zetten, maar hij onderschat hen. De bende wordt in een
    hinderlaag
    gelokt door de familie Gray waarbij Sean wordt gedood. Ondertussen heeft de familie Braithwaite Jack, het zoontje
    van
    John, ontvoerd. De bende neemt wraak en vernietigt beide families. Ze ontdekken dat Jack zich bij Angelo Bronte
    bevindt,
    die hen Jack terugbezorgt en vriendschap sluit met de bende. Hij geeft hen aanwijzingen naar potentiële klusjes,
    maar
    verraadt hen. Dutch ontvoert Bronte en voert hem aan een alligator, waardoor Arthur zich nog meer zorgen begint te
    maken.

    De bende blijft in Saint Denis, waar Dutch en Hosea de bende leiden tijdens een bankoverval. De Pinkertons komen
    tussenbeide, arresteren John en doden Hosea en Lenny. Dutch, Arthur, Bill, Javier en Micah ontsnappen uit de stad
    met
    een schip dat richting Cuba vaart. Een hevige storm doet het schip zinken en de bendeleden spoelen aan op het eiland
    Guarma, waar ze verwikkeld raken in een oorlog tussen de tirannieke suikerplantage-eigenaars en de tot slaaf
    gemaakte
    lokale bevolking. De groep helpt met succes de revolutie tegen de plantage-eigenaars en vinden een veilig transport
    terug naar de Verenigde Staten.

    De groep herenigt zich met de rest van de bende en Dutch raakt geobsedeerd over nog een allerlaatste overval. Dutch
    twijfelt aan de loyaliteit van Arthur nadat die hem ongehoorzaam is geweest door John eerder dan gepland te gaan
    bevrijden. Hij stelt Micah aan als zijn nieuwe luitenant en schuift Arthur opzij. Arthur maakt zich zorgen omdat
    Dutch
    niet langer de man is die hij kende, onder andere omdat hij zich afzondert, zijn idealen opgeeft en Cornwall
    vermoordt.
    Arthur krijgt te horen dat hij lijdt aan tuberculose. Hij denkt na over zijn daden en hoe hij de bende na zijn dood
    kan
    beschermen. Hij probeert John te overtuigen om te vluchten met zijn gezin en tart Dutch openlijk door de lokale
    Indianen
    te helpen.

    Wanneer de Pinkertons het kamp aanvallen, wordt Dutch paranoïde en denkt dat een van de bendeleden als informant
    werkt.
    Verschillende bendeleden raken gedesillusioneerd en vertrekken, terwijl Dutch en Micah een laatste overval
    voorbereiden
    op een trein die de lonen van het leger vervoert. Arthur's geloof in Dutch wordt verwoest wanneer Dutch hem
    achterlaat
    voor het leger, John voor dood wordt achtergelaten en weigert om Abigail te redden wanneer ze wordt ontvoerd. Arthur
    en
    Sadie zijn weer ongehoorzaam aan Dutch wanneer ze Abigail redden van agent Milton, die Micah noemt als de informant
    voordat hij wordt vermoord door Abigail.

    Arthur keert terug naar het kamp en beschuldigt Micah openlijk van verraad. Dutch, Bill, Javier en Micah keren zich
    tegen Arthur en de teruggekeerde John, maar de impasse wordt onderbroken wanneer de Pinkertons terugkeren. De speler
    kan
    ervoor kiezen om John te helpen ontsnappen door de Pinkertons op te houden of terug te laten keren naar het kamp om
    het
    geld van de bende terug te krijgen. Micah lokt Arthur in de val, en Dutch komt tussenbeide tijdens hun gevecht.
    Arthur
    overtuigt Dutch ervan om Micah achter te laten en te vertrekken. Als de speler een hoog eergehalte heeft, bezwijkt
    Arthur aan zijn verwondingen en ziekte en sterft hij vredig terwijl hij naar de zonsopgang kijkt. Als de speler een
    laag
    eergehalte heeft, wordt Arthur geëxecuteerd door Micah.

    Acht jaar later, in 1907, proberen John en zijn gezin een eerlijk leven te leiden. Ze vinden werk op een ranch waar
    John
    terugvecht tegen boeven die zijn werkgever bedreigen. Abigail gelooft dat John zijn oude leven niet kan opgeven en
    vertrekt samen met Jack. John sluit een banklening af en koopt zijn eigen ranch. Hij werkt samen met Sadie, Charles
    en
    Uncle om een nieuw huis te bouwen en wanneer Abigail bij hem terugkeert, vraagt hij haar ten huwelijk. Tegen de wil
    van
    Abigail in, jagen John, Sadie en Charles op Micah. Dutch is ook onlangs aangekomen in het kamp van Micah, die
    ondertussen zijn eigen bende leidt. Dutch schiet Micah neer en vertrekt, waardoor John hem kan afmaken. In Micah's
    hut
    vindt John het geld uit Blackwater, waarmee hij zijn schulden afbetaalt. John trouwt met Abigail en ze beginnen hun
    nieuwe leven op de ranch samen met Jack en Uncle, terwijl Sadie en Charles vertrekken voor andere bezigheden.

    De laatste scène toont Edgar Ross - de assistent van agent Milton die nu benoemd is tot directeur van het Bureau of
    Investigation - die de boerderij van John observeert, wat de voorbode is van de gebeurtenissen uit het originele
    spel.</p>

{% endblock %}