{% extends "index.html" %}

{% block content %}
<h1>The sons of the forest</h1>
<h2>Gameplay</h2>
<p>Similarly to The Forest, Sons of the Forest puts players in control of a protagonist stranded on an island inhabited
    by
    cannibals. Players can build weapons and buildings to aid in their survival. New to the game are friendly NPCs. One
    is a companion named Kelvin, who is deaf and unable to speak. Players can give Kelvin written commands on a piece of
    paper to help with simple tasks such as collecting crafting resources or setting up fires. Players will also
    encounter Virginia, a three-legged, three-armed woman who can be equipped with weapons to aid in combat
    situations. The map in this game is four times bigger than that of its predecessor. The game supports up to
    eight-player cooperative multiplayer, though players can also opt to play the game solo. Depending on their actions,
    players can receive different endings.</p>

<div class="PictureDiv">
    <img src="{{url_for('static', filename=Picture)}}" alt="">
</div>

<h2>Synopsis</h2>
<p>Many years after the events at Site 1, a team of private military contractors hired by PuffCorp is dispatched to an
    island called "Site 2" to search for Edward Puffton (PuffCorp's founder and CEO), his wife Barbara, and his 20 years
    old
    daughter Virginia, who have gone missing for months now. The team's helicopters are shot down by unknown assailants.
    One
    of the contractors survives their helicopter crash but is knocked out by a man wearing a silver coat. The Contractor
    then awakes with another surviving teamate named Kelvin who was rendered deaf in the crash.

    Working together, the Contractor and Kelvin set up camp and obtain resources to survive the wilderness as well as
    attacks from mutant cannibals. As the Contractor begins to explore the island, they find various underground bunkers
    and
    facilities built by PuffCorp and learns more about the true nature of Site 2 and PuffCorp's intentions for it. Like
    Site
    1, Site 2 possesses ancient artifacts of unknown power, as well as a previously undiscovered golden ore. PuffCorp
    acquired the island under the guise of turning it into a resort, and are in secret competition with the owners of
    Site
    1, Sahara Therapeutics, over control of an artifact known as the "Cube". The Contractor also finds surveillance
    footage
    showing Edward and PuffCorp executives suddenly mutating into cannibals during a dinner party, meaning the cannibals
    were Site 2's previous inhabitants.

    The Contractor also encounters Virginia, who became a mutant though somehow managed to retain her mind and sanity.
    Searching another bunker, the Contractor also comes across Tim and Eric LeBlanc, the son and father from The Forest,
    who
    were also hired by PuffCorp to search for the Pufftons. However, the Contractor is separated from them when the man
    with
    the silver coat accosts the LeBlancs and the Contractor is knocked unconscious by a mutant. The Contractor then
    continues to explore the PuffCorp facilities, eventually discovering research notes on the Cube referencing its
    potential to travel between alternate dimensions. The Contractor also learns that the Cube will "activate" every 8
    lunar
    cycles, and the only safe haven is inside the Cube itself. The Mercenary deduces that the Cube's activation was what
    caused the mass mutations on the island, and the next activation is due soon.

    Along the way to the Cube, they encounter a different type of highly aggressive mutant that shows an aversion to
    crucifixes. The Contractor eventually reaches the Cube along with Tim and they both make it inside the Cube before
    it
    closes, locking the man with the silver coat outside. When the Cube activates, Tim has a seizure and briefly splits
    into
    multiple versions of himself before the Cube shows them a vision of a futuristic, alien city. The Cube then
    deactivates
    and reopens, showing the man with the silver coat has mutated. The Contractor and Tim then return to the surface
    where
    Eric is waiting in a helicopter, and 2 endings are possible:

    If the player decides to go retrieve their survival pack, the Contractor decides to stay behind on the island, and
    the
    LeBlancs leave without them.
    If the player decides to board the helicopter, the Contractor leaves the island with the LeBlancs. If Kelvin and
    Virginia survived and accompanied the Contractor to the Cube, they will leave on the helicopter as well.
    Development</p>

<h2>Development</h2>
<p>Sons of the Forest was delayed twice. Announced in December 2019, the game had an initial May 2022 release date. On
    March 25, 2022, the game was delayed to October of that year "to be able to deliver our vision of the next step in
    survival games", according to the developer Endnight Games. That August, the game was delayed again to its final
    release date of February 23, 2023. It was later announced on February 3, 2023, that the game will launch in early
    access to avoid further delays.</p>




{% endblock %}