.input {
    display: flex;
    flex-direction: row;
    max-width: 70rem;
    margin: 0px auto;
    width: 100px;
}


#name {
    margin-top: 15px;
    height: 15px;
}

#email {
    margin-top: 15px;
    height: 15px;
}