<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            display: flex;
            flex-direction: column;
            max-width: 70rem;
            margin: 0px auto;
            width: 500px;
        }

        .Mad_Libs {
            color: black;
            text-align: center;
            font-size: 50px;
        }

        .menubalk {
            padding: 10px;
        }
    </style>
</head>

<body>
    <form action="/resultaat_onkunde" method="POST">
        <div class="body">
            <h1 class="Mad_Libs">Mad Libs</h1>


            <div class="menubalk">
                <a href="/">Er heerst paniek ...</a>
                <a href="/onkunde">Onkunde</a>
            </div>

            <!-- <h1>Er heerst paniek</h1> -->

            <table>
                <tr>
                    <th>
                        <h1>Onkunde</h1>
                    </th>
                </tr>

                <tr>
                    <td>

                        <p>Wat zou je graag willen kunnen?</p>
                    </td>
                    <td>
                        <input class="InputField" type="text" name="willen_kunnen" required>

                    </td>
                </tr>



                <tr>
                    <td>
                        <p>Met welke persoon kun je goed opschieten?</p>
                    </td>
                    <td>
                        <input class="InputField" type="text" name="persoon_opschieten" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Wat is je favoriete getal?</p>
                    </td>
                    <td>
                        <input class="InputField" type="text" name="favoriete_getal" required>
                    </td>

                </tr>

                <tr>
                    <td>
                        <p>Wat heb je altijd bij je als je op vakantie gaat?</p>
                    </td>
                    <td>
                        <input class="InputField" type="text" name="vakantie_gaan" required>
                    </td>

                </tr>

                <tr>
                    <td>
                        <p>Wat is je beste persoonlijke eigenschap?</p>
                    </td>
                    <td>
                        <input class="InputField" type="text" name="beste_eigenschap" required>
                    </td>

                </tr>

                <tr>
                    <td>
                        <p>Wat is je slechste persoonlijke eigenschap?</p>
                    </td>
                    <td>
                        <input class="InputField" type="text" name="slechste_eigenschap" required>
                    </td>


                </tr>

                <tr>
                    <td>
                        <p>Wat is het ergste dat je kan overkomen?</p>
                    </td>
                    <td>
                        <input class="InputField" type="text" name="ergste_overkomen" required>
                    </td>

                </tr>


            </table>

            <input type="submit" value="verzenden">

            <footer>
                Mike Spaans © 2023
            </footer>

        </div>
    </form>

</body>

</html>