<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            max-width: 70rem;
            margin: 0px auto;
            width: 500px;
        }

        .menubalk {
            padding: 10px;
        }
    </style>
</head>

<body>

    <h1>Mad Libs</h1>

    <div class="menubalk">
        <a href="/">Er heerst paniek ...</a>
        <a href="/onkunde">Onkunde</a>
    </div>

    <h2>Er heerst paniek ...</h2>
    <p>Er heerst paniek in het koninkrijk {{land}}. Koning {{docent}} is ten einde raad en als koning {{docent}} ten
        einde raad is, dan roept hij zijn ten-einde-raadsheer {{persoon}}</p>
    <p>"{{persoon}}, het is een ramp! Het is een schande!"</p>
    <p>"Sire, Majesteit, Uwe Luidruchtigheid, wat is er aan de hand?"</p>
    <p>"Mijn {{huisdier}} is verdwenen! Zo maar, zonder waarschuwing. En ik had net {{speelgoed}} voor hem gekocht!"</p>
    <p>"Majesteit, uw {{huisdier}} komt vast vanzelf weer terug?"</p>
    <p>"Ja, da's leuk en aardig, maar hoe moet ik in de tussentijd {{bezigheid}} leren?"</p>
    <p>"Maar Sire, daar kunt u toch uw {{geld}} voor gebruiken."</p>
    <p>{{persoon}}, je hebt helemaal gelijk! Wat zou ik doen als ik jou niet had.</p>
    <p>{{vervelen}}, Sire.</p>


    <footer>
        Mike Spaans © 2023
    </footer>
</body>

</html>