<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            max-width: 70rem;
            margin: 0px auto;
            width: 500px;
        }

        .menubalk {
            padding: 10px;
        }
    </style>
</head>

<body>

    <h1>Mad Libs</h1>

    <div class="menubalk">
        <a href="/">Er heerst paniek ...</a>
        <a href="/onkunde">Onkunde</a>
    </div>

    <h2>Onkunde</h2>
    <p>Er zijn veel mensen die niet kunnen {{willen_kunnen}}. Neem nou {{persoon_opschieten}}. Zelfs met de hulp van een
        {{vakantie_gaan}} of zelfs {{favoriete_getal}} kan {{persoon_opschieten}} niet tekenen. Dat heeft niet te maken
        met een gebrek aan {{beste_eigenschap}}, maar met een te veel aan {{slechste_eigenschap}}. Te veel
        {{slechste_eigenschap}} leidt tot {{ergste_overkomen}} en dat is niet goed als je wilt {{willen_kunnen}}. Helaas
        voor {{persoon_opschieten}}</p>


    <footer>
        Mike Spaans © 2023
    </footer>
</body>

</html>